version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql-group
    environment:
      MYSQL_ROOT_PASSWORD: 123456kc
      MYSQL_DATABASE: EV_db
      MYSQL_USER: groupuser
      MYSQL_PASSWORD: us123456
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
